body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .responsive-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    margin-top: 1.6em;
    margin-bottom: 0.9em;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .iframe-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 2px 8px 0 rgba(63, 69, 81, 0.16);
  }
  
  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
  
  a {
    display: block;
    text-align: center;
    margin-top: 1em;
    color: #333; /* Cor do link */
    text-decoration: none;
  }
  